<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	
    <h3>thymeleaf Test</h3>
    <th:block th:each="num : ${#numbers.sequence(1,5)}">
        <p th:text="${num}"></p>
    </th:block>
    <hr>
    <!--/* 기본방식 => th:속석 = "${}" or th:src="@{}" */-->
    <!--/* text속성 => 템블릿분법, [[]]  */-->
    
    <p> [[ ${'사원번호 : ' + empList[0].empid } ]]</p>
    <p> 사원이름 : [[ ${empList[0].empname} ]]</p>
    <p>[[ | 사원이름 : ${empList[0].empname} ]]</p>
    <p>[[ ${empList[0].mgr} ]]</p>
    <script>
    	let eid = 'Kang';
    	let msg = `사원이름 : ${eid}`;
    	console.log(msg);
    </script>
  
</body>
</html>